$primary-1: #03b1ff;
$primary-2: #8ac1f6;
$primary-3: #f5a540;

$black-1: #2d2d2d;

$white-1: #fff;
$white-2: #f0f0f0;

$grey-1: #6f6f6f;
$grey-2: #66615B;
$grey-3: #898a90;

$red-1: #ff0000;
$red-2: #ff5e5e;

$blue-1: #182533;
$blue-2: #03b1ff;

$green-1: #47d764;