.input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: .5rem 0;
    // background-color: $white-1;
}

.label {
    font-size: 1.6rem;
    color: $black-1;
    font-weight: 400;
    line-height: 1.5;
}

.tooltip {
    font-weight: 400;
    font-size: 1.2rem;
    color: $grey-1;
}

.general-input {
    width: 100%;
    height: 3.6rem;
    padding: 0 1rem;
    border: 1px solid lighten($black-1, 60%);
    border-radius: 3px;
    box-shadow: 3px 1px 8px -1px rgba($black-1, 0.1);
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    background-color: $white-1;
    margin-bottom: 1.5rem;
    &:active,
    &:focus {
        outline-color: $primary-1;
    }
}

.input-error {
    font-size: 1.3rem;
    color: $red-1;
    font-weight: 400;
    position: absolute;
    bottom: -0.5rem;
}

.select {
    color: $black-1;
    font-weight: 400;
    box-shadow: 0 2px 2px -1px rgba($black-1, 0.15);
    background-color: $white-1;
    border: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: 1.4rem;
    outline-color: $primary-1;
}

.checkbox-wrapper {
    margin-bottom: 1.5rem;
    div {
        color: $black-1;
        font-size: 1.4rem;
        line-height: 3;
        font-weight: 700;
    }

    a,
    a:link,
    a:visited {
        color: $primary-1;
        text-decoration: none;
        border-bottom: 1px solid $primary-1;
    }
}

.checkbox {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0 0.5rem 0 0;
    vertical-align: bottom;
    top: -1px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

.custom-checkbox {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid $primary-1;

    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

.checkbox-label {
    font-size: 1.4rem;
    color: $grey-1;
    position: relative;
    display: block;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;

    &:hover .checkbox ~ span {
        background-color: lighten($grey-3, 30%);
    }

    & > .checkbox:checked ~ span {
        background-color: $primary-1;
    }

    & > .checkbox:checked ~ .custom-checkbox:after {
        display: block;
    }

    & > .custom-checkbox:after {
        left: 0.6rem;
        top: 0.2rem;
        width: 0.7rem;
        height: 1.2rem;
        border: 1px solid $white-1;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    // height: 90.6rem;
    margin: 5rem auto;
    // background-color: $white-1;
    position: relative;
}

.form {
    width: 95%;
    max-width: 32rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animate-left {
    animation: moveInLeft 0.3s ease-out backwards;
}

.animate-right {
    animation: moveInRight 0.3s ease-out backwards;
}

.fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 3rem 0;
}

.legend {
    margin: 0 auto 2rem 0;
    color: $primary-1;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
}

.form-alternate {
    font-size: 1.6rem;
    text-align: center;
    margin: 2rem 0;
}

.alternate-text {
    text-decoration: underline;
    color: $primary-1;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.6rem;
}

.form-message {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 100vh;
    z-index: 2;
    background: $white-1;
    margin-top: .3rem;

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5rem auto;
        width: 100%;
        max-width: 32rem;
    }

    * {
        margin-bottom: 2rem;
    }

    &__heading {
        color: $black-1;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 400;
        line-height: 2;
    }
}
